/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/* Styling for the social media buttons */
#share-buttons img {
width: 35px;
height: 20px;
padding: 5px;
border: 0;
box-shadow: 0;
display: line;
}
