<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/style/style.css"/>
	</head>
	<body>
		<nav class="page-header" style="background-color: #FDD023" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="#" class="brand-logo">Schedule4Me</a>
			</div>
		</nav>
		<main class="container">
			@RenderBody()
		</main>
        <footer class="page-footer" style="background-color: #461D7C">
            <div class="footer-copyright container  row">
				<div class="col s6">
                © 2017 Drake Lambert, Neil Holloway
				</div>
				<div class="col s6">
					<div class="right">
						<!-- Facebook -->
						<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
							<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
						</a>
						<!-- Twitter -->
						<a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
							<img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
						</a>
						<!-- Print -->
						<a href="javascript:;" onclick="window.print()">
							<img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
						</a>
					</div>
				</div>
            </div>
        </footer>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	</body>
</html>