@page
@using Schedule4Me.Pages
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
	<head>
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	</head>
	<body>
		<div asp-validation-summary="All"></div>
		<form method="POST">
        	<div>
				Enter classes separated by commas (,): 
				<input asp-for="Courses" />
			</div>
        	<input type="submit" />
		</form>
		<ul>
			@foreach (var course in Model.FormattedCourses) 
			{
				<li>
					@(course)
				</li>
			}
		</ul>
	</body>
</html>