@page
<!DOCTYPE html>
<html>
	<body>
		<table>
			<tr>
				<th>
					Course Title
				</th>
			</tr>
		</table>
		@for (var i = 0; i < 20; i++) 
		{
			<tr>
				<td>
					@(i)
				</td>
			</tr>
		}
	</body>
</html>