@page
@model IndexModel
<div asp-validation-summary="All"></div>
<form method="POST" class="input-field">
    <h5>
        Enter classes (eg. math 1202) separated by commas in descending order of preference: 
    </h5>
    <input asp-for="Courses" />
    <input type="submit" class="waves-effect waves-light btn" style="background-color: #461D7C" />
</form>
@if (Model.FormattedCourses.Count > 0) 
{
<h5>
    Here@("'")s your schedule yo:
</h5>
}
<ul>				
    @foreach (var course in Model.FormattedCourses) 
    {
    <li>
        @(course)
        <ul style="margin-left: 40px">
            @foreach (var sect in course.sections) 
            {
            <li>
                @(sect.number)
            </li>
            }
        </ul>
    </li>
    }
</ul>